@charset "utf-8";

.appWraper {
    background-color: #fff;
    padding: 20px;
    button {
        border: 1px solid #ddd;
        background-color: #eee;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 4px;
        outline: none;
    }
    .box {
        margin-bottom: 16px;
    }
    .thunder {
        width: 150px;
        height: 150px;
        // background: url("../../img/01.jpg") no-repeat;
    }
    .changeAdd {
        $color: rgba(0, 169, 169, 0.8);
        border: 1px solid $color;
        border-radius: 4px;
        height: 18px;
        line-height: 18px;
        padding: 8px 16px;
        width: 300px;
        &:focus {
            box-shadow: 1px 1px 2px $color,
                        -1px -1px 2px $color;
        }
    }
}
