@charset "utf-8";
@import "view/app.scss";
@import "view/header.scss";

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    &:hover {
        text-decoration: none;
    }
}

button,
input {
    outline: none;
}

body {
    background-color: #eee;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    padding: 10px 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mr16 {
    margin-right: 16px;
}

.colorRed {
    color: #f00;
}

.navActive {
    background-color: #555 !important;
    color: #fff !important;
}